@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,600&family=Hanken+Grotesk:wght@400;500;600&family=JetBrains+Mono:wght@400;700&display=swap");
@import "tailwindcss";
@import "../src/styles.css";

@source "../src/**/*.{js,ts,jsx,tsx}";

:root {
  --font-hanken: "Hanken Grotesk", sans-serif;
  --font-fraunces: "Fraunces", serif;
  --font-jetbrains: "JetBrains Mono", monospace;
}
